version: '3.5'
services:
    lobby:
        restart: always
        build: .
        image: keyteki
        ports:
            - '48721:4000'
            - '48722:9229'
        volumes:
            - './client:/usr/src/app/client'
            - './server:/usr/src/app/server'
            - './public:/usr/src/app/public'
            - './less:/usr/src/app/less'
        links:
            - postgres
            - redis
        depends_on:
            postgres:
                condition: service_started
            redis:
                condition: service_healthy
        environment:
            - NODE_ENV=development
        command:
            - node
            - '--inspect=0.0.0.0:9229'
            - '.'
    node:
        restart: always
        build: .
        ports:
            - '48723:48723'
            - '48724:9339'
        volumes:
            - './server:/usr/src/app/server'
            - './config:/usr/src/app/config'
        command:
            - node
            - '--inspect=0.0.0.0:9339'
            - 'server/gamenode'
        environment:
            - NODE_ENV=development
            - PORT=48723
    postgres:
        image: postgres
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-keyteki}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-changemeplease}
        ports:
            - '48725:5432'
        volumes:
            - postgres:/data/postgres
            - ./server/db/schema:/docker-entrypoint-initdb.d
        restart: unless-stopped
    redis:
        image: 'redis:alpine'
        command: redis-server
        ports:
            - '48726:6379'
        volumes:
            - $PWD/redis-data:/var/lib/redis
        environment:
            - REDIS_REPLICATION_MODE=master
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 5s
            timeout: 3s
            retries: 5
volumes:
    postgres:
    node_modules:
